<script>
  import { stores } from '@sapper/app'
  import Matomo, { matomo } from '@dexlib/svelte-matomo'

  const { page } = stores()

  $: if ($page) matomo.trackPageView()
</script>

<Matomo url='https://analytics.dxlb.nl' siteId=1 />

<svelte:head>
  <!-- Primary Meta Tags -->
  <title>Visuals | Dexterlabs</title>
  <meta name="title" content="Visuals | Dexterlabs">
  <meta name="description" content="Visualizations made in Svelte, SVG">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://visuals.dxlb.nl/">
  <meta property="og:title" content="Visuals | Dexterlabs">
  <meta property="og:description" content="Visualizations made in Svelte, SVG">
  <meta property="og:image" content="/visuals-dxlb.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://visuals.dxlb.nl/">
  <meta property="twitter:title" content="Visuals | Dexterlabs">
  <meta property="twitter:description" content="Visualizations made in Svelte, SVG">
  <meta property="twitter:image" content="/visuals-dxlb.png">
</svelte:head>

<style>
	main {
		position: relative;
		margin: 0 auto;
		box-sizing: border-box;
	}
</style>

<main>
	<slot></slot>
</main>