<svelte:head>
	<title>Sapper project template</title>
</svelte:head>

<script>
  import { onMount } from 'svelte'
  import visuals from 'visuals/all'
  import Preview from 'src/components/Preview.svelte'
  import { timer } from 'src/util'

  let time = new Date().getTime()
  let handle = timer(40, t => time = t)

  onMount(() => {
    handle.start()
    return handle.stop
  })
</script>

<header>
  <h1>Visualizations</h1>
  <p>A collections of visualizations made by <a href='https://dxlb.nl'>Dexter</a></p>
<!--   <ul>
    <li>
      <input type=checkbox>Live editing in repl
    </li>
  </ul> -->
</header>

<content>
  {#each Object.entries(visuals).reverse() as [key, visual]}
    <a href='visual/{key}'>
      <Preview {visual} {time}/>
    </a>
  {/each}
</content>

<style>
  header {
    margin: 2rem;
  }
  content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
</style>