<script>
  import { array, rgba, pulse } from 'src/util'
  import hsv from 'src/util/hsv'

  export let time
  export const size = 100

  const sin = t => (Math.sin(t) + 1) / 2
  const cos = t => (Math.cos(t) + 1) / 2

  const number = 100
  const width = 100
  const height = 100
</script>

<svg viewBox="-{size/2} -{size/2} {size} {size}" preserveAspectRatio="xMidYMid">

  {#each
    array(number)
      .map(i => {
        const j = number - i
        const w = (i/number)*width
        const h = (i/number)*height
        return {
          x: -w/2 + Math.sin(i + time/5000)*(j/10),
          y: -h/2 + Math.cos(i + time/5000)*(j/10),
          width: w,
          height: h,
          stroke: hsv(
            time/1535 + i/67,
            sin(i/7+time/1000),
            sin(i/41+time/5490)/2+.5,
          ),
          'stroke-width': i/40 * sin(i/13 + time / 314) + j/(number*2)
        }
      })
    as props
  }
    <rect
      fill=none
      stroke=black
      stroke-width=0.1
      {...props}
    />
  {/each}
</svg>