<script>
  import { array, rgba, pulse } from 'src/util'

  export let time
  export const size = 100

  const sin = t => (Math.sin(t) + 1) / 2
  const cos = t => (Math.cos(t) + 1) / 2
</script>

<svg viewBox="-{size/2} -{size/2} {size} {size}" preserveAspectRatio="xMidYMid">

  {#each array(80)
          .map(i => i * 0.1 - 4)
          .map(i => ({
            x: -5*i + Math.sin(i + time/500) * 20,
            y: -5*i + Math.cos(i + time/500) * 20,
            width: i*10,
            height: i*10
          }))
    as props
  }
    <rect {...props} fill=none stroke=black stroke-width=0.1 />
  {/each}
</svg>