<script>
  import { onMount } from 'svelte'
  import { timer, array, rgba, pulse } from 'src/util'
  import { perlin3, perlin2 } from 'src/util/noise'
  import hsv from 'src/util/hsv'

  export let time
  export const size = 100

  const lines = 30
  const circles = 20
</script>

<!-- Chaos, physics modeling -->

<svg viewBox="-{size/2} -{size/2} {size} {size}" preserveAspectRatio="xMidYMid">

  {#each array(circles).reverse() as i}
    {#each array(lines).reverse() as r}
      <circle
        r={(i+1) * pulse(r/10 + i + (time/100) + r + i)}
        fill={hsv(
          (r+time/500)/lines * 2 * Math.PI,
          pulse(time/1000 + r) + 0.5,
          (Math.sin((time/1000) + i/3) + 1) / 4 + 0.5
        )}
        stroke-width=0.4
        cx={Math.cos(r/lines * 2*Math.PI + i *time/20000) * i * 4}
        cy={Math.cos(r/lines * 2*Math.PI + (circles-i) * time/20000) * i * 4}
      />
    {/each}
  {/each}
  
</svg>
