<script>
  import { onMount } from 'svelte'
  import { timer, array, rgba, pulse, sin } from 'src/util'
  import { perlin3, perlin2 } from 'src/util/noise'
  import hsv from 'src/util/hsv'

  export let time
  export const size = 100

  const circle = ({
    start = 0,
    steps = 10,
    amplitude = 10
  } = {}) => {
    const pi2 = Math.PI * 2
    return array(steps)
      .map(i => ([
        Math.sin(i/steps * pi2 + start) * amplitude,
        Math.cos(i/steps * pi2 + start) * amplitude,
      ]))
  }

  const star = ({
    start = 0,
    points = 10,
    size = 10,
    innersize = 5
  } = {}) => {
    const c1 = circle({
      steps: points,
      amplitude: size,
      start
    })
    const c2 = circle({
      steps: points,
      amplitude: innersize,
      start: start + Math.PI / points
    })
    
    return c1.map((v, i) => ([v, c2[i]])).flat()
  }

</script>

<svg viewBox="-{size/2} -{size/2} {size} {size}" preserveAspectRatio="xMidYMid">

  {#each array(6).map(i => i - 3) as q}
    {#each circle({ amplitude: 30 }) as [x, y], i}
      <polygon
        fill={hsv(time/100000 + i + q)}
        stroke='black'
        stroke-width={pulse((time + i + q) / 1000) * 0.5}
        transform='translate({x + q*25}, {y})'
        points={star({
          points: Math.round(2+ sin(time/(20000 + i*11 * (q*6)))*20),
          start: Math.sin(time/(10000 + i * (q*6))) * Math.PI,
          size: sin(time/(5000 + i * (q*6))) * 5,
          innersize: sin(time/(5330 + i * (q*6))) * 10 + sin(time/(3330 + i * (q*6))) * 20,
        }).join(' ')}
      />
    {/each}
  {/each}
</svg>
