<script>
  import MirrorCircle from 'src/components/MirrorCircle.svelte'
  import Mirrors from 'src/components/Mirrors.svelte'

  import { timer, array, rgba, pulse, sin } from 'src/util'
  import hsv from 'src/util/hsv'

  export let time
  export const size = 100
</script>

<svg
  viewBox="-{size/2} -{size/2} {size} {size}" preserveAspectRatio="xMidYMid"
  style='background: {hsv(time/10000 + Math.PI, 0.5, 0.5)}'
>


  <MirrorCircle
    amount={3}
  >
  <MirrorCircle
    amount={3}
    origin={[
      Math.cos(-time/20000) * 20,
      Math.sin(-time/20000) * 20
    ]}
  >
    <MirrorCircle
      amount={3}
      origin={[
        Math.cos(time/30000) * 10,
        Math.sin(time/30000) * 10
      ]}
    >
      <line
        x1={0}
        y1={0}
        x2={Math.sin(time/150000) * 30}
        y2={Math.cos(time/150000) * 30}
        stroke={hsv(time/10000)}
      />
      <circle
        r={sin(time/10000) * 100}
        cx={Math.sin(time/150000) * 40}
        cy={Math.cos(time/150000) * 40}
        stroke={hsv(time/10000)}
        stroke-width={0.1*sin(time/1000)}
        fill=none
      />
    </MirrorCircle>
  </MirrorCircle>
  </MirrorCircle>
</svg>

<style>
  line {
    stroke-width: .1;
  }
</style>