<script>
  import Spiral from 'src/components/Spiral.svelte'
  import { pulse, rgba } from 'src/util'

  let _time = 0
  export {_time as time}
  $: time = _time / 30

  const dots = 20

  const width = 100
  const height = 100

  const pos = (time, i) => {
    const theta = (time / 100) * i
    const size = (i / dots) * width / 2
    return {
      cx: Math.sin(theta) * size,
      cy: Math.cos(theta) * size
    }
  }
  const linepos = (time, i) => {
    const p1 = pos(time, i-1)
    const p2 = pos(time, i)
    return {
      x1: p1.cx,
      y1: p1.cy,
      x2: p2.cx,
      y2: p2.cy,
    }
  }
</script>

<svg viewBox="-{width/2} -{height/2} {width} {height}" preserveAspectRatio="xMidYMid"
  style="background:rgba({
    pulse(time/20, 57) * 120
  },{
    pulse(time/33, 7) * 120
  },{
    pulse(time/7, 20) * 120
  },1)">
  <Spiral time={time/10} dots={15} dist={pulse(time/100)*5} let:i let:pos>
    <!-- <circle {...pos} r=1 /> -->
    <Spiral let:i={j} time={time/(3 + i)} dist={i * 0.1} dots={30} let:pos={pos2} let:line>
      <circle
        cx={pos.cx + pos2.cx}
        cy={pos.cy + pos2.cy}
        r={pulse(time * (1+i+j) / 19) * 0.5 + 0.2}
        fill={rgba(
          pulse((time * (1+i+j))/13) * 255,
          pulse((time * (1+i+j))/57) * 255,
          pulse((time * (1+i+j)) / 11) * 255
        )}
      />
    </Spiral>
  </Spiral>
</svg>
