<script>
  import Spinner from 'src/components/Spinner.svelte'

  import { pulse } from 'src/util'

  import { onMount } from 'svelte'

  let _time = 0
  export {_time as time}
  $: time = _time / 60

  $: arms = Math.floor(pulse(time / 20) * 100)

  const width = 100
  const height = 100
</script>

<svg 
  viewBox="-{width/2} -{height/2} {width} {height}"
  preserveAspectRatio="xMidYMid"
  style="background: rgba({pulse(time, 37) * 255},{pulse(time, 70) * 255},{pulse(time, 13) * 255},0.5"
>
  <Spinner
    time={time/3}
    {arms}
    let:x
    let:y
    size={50}
  >
    <Spinner
      time={time/8}
      arms={Math.floor(arms/10)}
      let:x={a}
      let:y={b}
      let:i
      size={pulse(time*2) * 100}
    >
      <line
        x1={x}
        y1={y}
        x2={a+x}
        y2={b+y}
        stroke="rgba({pulse(time, 150) * 255},{pulse(time, 70) * 255},{pulse(time, 20) * 255},0.5"
        stroke-width=0.2
      />
    </Spinner>
    <line x1=0 y1=0 x2={x} y2={y} 
      stroke="rgba({pulse(time/2, 50) * 255},{pulse(time/3, 70) * 255},{pulse(time/7, 20) * 255},0.5"
      stroke-width={pulse(time)*5+0.1}

    />
  </Spinner>
</svg>
