<script>
  import Spinner from 'src/components/Spinner.svelte'

  import { pulse } from 'src/util'

  let _time = 0
  export {_time as time}
  $: time = _time / 30

  $: arms = Math.floor(pulse(time / 30) * 8)

  const width = 100
  const height = 100
</script>

<svg viewBox="-{width/2} -{height/2} {width} {height}" preserveAspectRatio="xMidYMid"
  style="background:rgba({
    pulse(time/20, 57) * 120
  },{
    pulse(time/33, 7) * 120
  },{
    pulse(time/7, 20) * 120
  },1)"
>
  <Spinner
    time={time/10}
    {arms}
    let:x
    let:y
    let:i
    size={150}
  >
    <line x1=0 y1=0 x2={x} y2={y} 
      stroke="rgba({pulse(time/2, 50) * 255},{pulse(time/3, 70) * 255},{pulse(time/7, 20) * 255},0.1"
      stroke-width={pulse(time*i+1)*500+0.1}
    />
    <Spinner
      time={time/20}
      arms={arms}
      let:x={a}
      let:y={b}
      let:i={j}
      size={pulse(time) * 80}
    >
      <Spinner
        time={-time/5}
        arms={arms}
        let:x={c}
        let:y={d}
        let:i={k}
        size={10+i*20}
      >
        <line
          x1={a+x}
          y1={b+y}
          x2={a+x+c}
          y2={b+y+d}
          stroke="rgba({pulse(1+(time*i*j*k*0.1)/120, 23) * 255},{pulse((1+(time*i*j*k*0.01)), 120) * 255},{pulse((1+(time*i*j*k*0.001))*9, 220) * 255},0.4"
          stroke-width={pulse((1+(time*j*k))/20)*100}
        />
      </Spinner>
      <line
        x1={x}
        y1={y}
        x2={a+x}
        y2={b+y}
        stroke="rgba({pulse((1+time*i*0.1), 150) * 255},{pulse((1+time*i*0.1), 70) * 255},{pulse((1+time*i*0.1), 20) * 255},0.5"
        stroke-width={pulse(time*2)*50+0.1}
      />
    </Spinner>

  </Spinner>
</svg>
