<script>
  import { rgba } from 'src/util'

  let _time = 0
  export {_time as time}
  $: time = _time / 30

  const width = 100
  const height = 100

  $: lines = (Math.floor(time / 50) % 20) + 1

  const arr = (n) => (new Array(n)).fill().map((_, i) => i)
  const pulse = (time, div=100) => ((Math.floor(time / div) % 2) ? (div - (time % div)) : (time % div)) / div
</script>

<svg
  viewBox="-{width/2} -{height/2} {width} {height}"
  preserveAspectRatio="xMidYMid"
  style="background: {rgba(
    Math.floor(pulse(time/109) * 255),
    Math.floor(pulse(time/5) * 255),
    Math.floor(pulse(time/17) * 255),
  )}"
>

  <circle cx=0 cy=0 r={width/2} fill='rgba(255,0,{pulse(time)*255})' />

  {#each arr(lines) as i (i)}
    <line
      x1=0 y1=0
      x2={Math.sin((time/10) + (i/lines) * 2*Math.PI) * width/2}
      y2={Math.cos((time/10) + (i/lines) * 2*Math.PI) * width/2}
      stroke="rgba({pulse(time/2, 50) * 255},{pulse(time/3, 70) * 255},{pulse(time/7, 20) * 255},1)"
      stroke-width={pulse(time) * 10}
    />
  {/each}
</svg>
