<script>
  import { array, pulse } from 'src/util'

  let _time = 0
  export {_time as time}
  $: time = _time / 30

  const width = 100
  const height = 100

  const size = 90

  const coords = (theta, length) => [Math.sin(theta)*length, Math.cos(theta)*length]

  const trapezoid = (ang = 0, size=50) => ([
      [0,0],
      coords(ang, size),
      coords((2/6) * Math.PI + ang, size),
      coords((2/3) * Math.PI + ang, size),
      [0,0]
    ].join(' '))

  const rgba = (r=255,g=255,b=255,a=1) => `rgba(${[r,g,b,a]})`

  const rotate = 180 / 13
  const scale = 0.995

</script>

<svg viewBox="-{width/2} -{height/2} {width} {height}" preserveAspectRatio="xMidYMid"
  style="background-color: {rgba(
          Math.floor(pulse(time/109)*255),
          Math.floor(pulse(time/5)*255),
          Math.floor(pulse(time/17)*255),
        )};">

  {#each array(12 + 13 * 70) as i}
    <polyline
      fill={rgba(
        Math.floor(pulse(time/109*(i+5))*255),
        Math.floor(pulse(time/11*(i+5))*255),
        Math.floor(pulse(time/31*(i+5))*255),
      )}
      points={trapezoid(2*Math.PI, size)}
      transform="
        scale({Math.pow(scale, i)})
        rotate({i * rotate})
        translate({coords((2/6) * Math.PI, -size/2)})
      "
    />
  {/each}
</svg>
