<script>
  import { onMount } from 'svelte'
  import { array, pulse } from 'src/util'

  let _time = 0
  export {_time as time}
  $: time = _time / 60

  const width = 100
  const height = 100

  const size = 50

  const coords = (theta, length) => [Math.sin(theta)*length, Math.cos(theta)*length]

  const trapezoid = (ang = 0, size=50) => ([
      [0,0],
      coords(ang, size),
      coords((2/6) * Math.PI + ang, size),
      coords((2/3) * Math.PI + ang, size),
      [0,0]
    ].join(' '))

  const rgba = (r=255,g=255,b=255,a=1) => `rgba(${[r,g,b,a]})`

  const rotate = 2
  const scale = 0.945
</script>

<svg
  viewBox="-{width/2} -{height/2} {width} {height}"
  preserveAspectRatio="xMidYMid"
  style="background: {rgba(
    Math.floor(pulse(time/109) * 255),
    Math.floor(pulse(time/5) * 255),
    Math.floor(pulse(time/17) * 255),
  )}"
>

  {#each array(3) as s}
    {#each array(Math.floor(pulse(time/5) * 100)) as i}
      <polyline
        fill={rgba(
          Math.floor(pulse(time/7*i)*255),
          Math.floor(pulse(time/3*i)*255),
          Math.floor(pulse(time/11*i)*255),
        )}
        points={trapezoid(2*Math.PI * (s/3))}
        transform="scale({Math.pow(0.95, i)})"
      />
    {/each}
  {/each}

<!--   <polyline points={trapezoid(2*Math.PI * (1/3))} />
  <polyline points={trapezoid(2*Math.PI * (2/3))} />
 -->
</svg>

<style>
  section {
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 10;
  }
  polyline {
    /*stroke: black;*/
    stroke-width: 0.4;
  }
</style>