<script>
  import { array, pulse, rgba } from 'src/util'

  let _time = 0
  export {_time as time}
  $: time = _time / 30

  const width = 100
  const height = 100

  $: fromto = (from, to, t=time, maxtime=100) => from + pulse(t, maxtime) * (to - from)

  const size = 40

  const viewBox = (w, h) => `-${width/2} -${height/2} ${width} ${height}`

  // const ringsize = 10
  $: ringsize = fromto(1, 10, time, 1000)
</script>

<svg viewBox={viewBox(width, height)} preserveAspectRatio="xMidYMid">
   <defs>
    <pattern id="star" viewBox="0 0 10 10" width="10%" height="10%">
      <polygon
        fill=none
        stroke={rgba(
          pulse(time/59) * 255,
          pulse(time/73) * 255,
          pulse(time) * 255
        )}
        points="0,0 2,5 0,10 5,8 10,10 8,5 10,0 5,2"
        transform="
          translate(5,5)
          rotate({time*3})
          translate(-5,-5)
        "
      />
    </pattern>
  </defs>

  {#each array(Math.floor(size / ringsize)) as i}
    <circle
      cx="0"
      cy="0"
      r={size - i*ringsize}
      transform="rotate({time * i / 100})"
      fill={rgba(
        0,
        0,
        (Math.sin(i*time/10) + 1) * 122
      )}
      stroke-width={ringsize}
      stroke="url(#star)"
    />
  {/each}
  <circle cx="0" cy="0" r={(size % ringsize) + ringsize/2} style='color:blue' fill="url(#star)"/>
</svg>
