<script>
  import { array, rgba } from 'src/util'

  let _time = 0
  export {_time as time}
  $: time = _time / 300

  const width = 100
  const height = 100
  const points = 50
  const density = 0.3
</script>

<svg viewBox="-{width/2} -{height/2} {width} {height}" preserveAspectRatio="xMidYMid">

  {#each array(points) as i}
    <circle
      r={1+(points-i)}
      fill={rgba(
        (i*time/53)%255, 
        (i*time/37)%255, 
        (i*time/17)%255, 
      )}
      cx={Math.sin(i*time/1000) * i * density}
      cy={Math.cos(i*time/1000) * i * density}
    />
  {/each}
</svg>
