<script>
  import { array, rgba } from 'src/util'

  let _time = 0
  export {_time as time}
  $: time = _time / 30

  const width = 100
  const height = 100
  const points = 170
  const r = 2
  const density = 0.1
</script>

<svg viewBox="-{width/2} -{height/2} {width} {height}" preserveAspectRatio="xMidYMid">

  {#each array(points).reverse() as i}
    <circle
      r={r*(1+i) * 0.1}
      fill={rgba(
        (i*time/53)%255, 
        (i*time/37)%255, 
        (i*time/17)%255, 
      )}
      cx={Math.sin((i)*time/1000) * r * i * density}
      cy={Math.cos((i)*time/1000) * r * i * density}
    />
  {/each}
</svg>
