<script>
  import { timer, array, rgba, pulse, sin } from 'src/util'
  import hsv from 'src/util/hsv'

  import Arc from 'src/components/Arc.svelte'

  export let time
  export const size = 100

  const PI = Math.PI

  const rings = 30

  const arr = array(rings)

  // let even = false
  // $: if (Boolean(Math.round(time/10000) % 2) === even) {
  //   even = !even
  //   arr.reverse()
  // }
</script>

<svg
  viewBox="-{size/2} -{size/2} {size} {size}" preserveAspectRatio="xMidYMid"
  style='background: {hsv(time/10000 + Math.PI, 0.5, 0.5)}'
>

  <clipPath id="myClip">
    {#each array(20) as i}
      <Arc
        start={time/5000 * i/20 * 2*PI}
        inner=0
        size={size/2 * sin(time/1000 + i)}
        length={PI/20}
      />
    {/each}
  </clipPath>

  {#each arr as i}
    <Arc
      size={((i+1)/rings) * size/2}
      inner={(i/rings) * size/2}
      start={sin(i+time/100000) * 20 * PI}
      length={PI}
      fill={hsv(
        (sin((time/1340) + i/20) + sin((time/10340) + i/10)) * PI,
        0.6,
        0.4
      )}
    />
  {/each}

  {#each arr as i}
    <Arc
      clip-path="url(#myClip)"
      size={((i+1)/rings) * size/2}
      inner={(i/rings) * size/2}
      start={sin(i+time/100000) * 20 * PI}
      length={PI}
      fill={hsv(
        (sin((time/1340) + i/20 + PI) + sin((time/10340) + i/10 + PI)) * PI,
        0.6,
        0.4
      )}
    />
  {/each}

</svg>