<script>
  import { timer, array, rgba, pulse, sin } from 'src/util'
  import hsv from 'src/util/hsv'

  import Arc from 'src/components/Arc.svelte'

  export let time
  export const size = 100

  const PI = Math.PI

  const rings = 20
  $: segments = (sin(time/13000) + sin(time/1900)) * 10 + 3
</script>

<!-- Multistage
  - Build rings in black and white
  - move rings
-->
<svg
  viewBox="-{size} -{size} {size*2} {size*2}" preserveAspectRatio="xMidYMid"
  style='background: {hsv(time/10000 + Math.PI, 0.5, 0.5)}'
>

  <clipPath id="myClip">
    {#each array(20) as i}
      <Arc
        start={time/5000 * i/20 * 2*PI}
        inner=0
        size={size/2 * sin(time/1000 + i)}
        length={PI/20}
      />
    {/each}
  </clipPath>

  {#each array(rings).reverse() as i}
    {#each array(Math.floor(segments) || 0) as s}
      <Arc 
        size={1.4*size * ((i+(s%2 ? .5 : 1))/rings)}
        inner={1.4*size * ((i+(s%2 ? 0 : .5))/rings)}
        fill={hsv(time/1000 + (i + s)/10, 1, i/rings)}
        start={2*PI/segments * s + time/2341 + i}
        length={
          Math.floor(segments) === s+1
          ? 2*PI/segments * (1 + segments - Math.floor(segments))
          : 2*PI/segments
        }
      />
    {/each}
  {/each}

</svg>