<script>
  import { rgba, pulse } from 'src/util'
  import Spinner from 'src/components/Spinner.svelte'

  let _time = 0
  export {_time as time}
  $: time = _time / 30

  const sin = v => (Math.sin(v) + 1) / 2
  const cos = v => (Math.cos(v) + 1) / 2

  const size = 190
  $: arms = Math.round(pulse(time/100) * 29) + 2
</script>

<svg viewBox="-{size/2} -{size/2} {size} {size}" preserveAspectRatio="xMidYMid" style="background: white">
  <Spinner
    time={time/41} size={pulse(time/3)*size + size/2}
    {arms}
    let:x={q}
    let:y={w}
    let:i
  >
    <Spinner
      time={time/5} size={pulse(time/7)*size + size/2}
      {arms}
      let:x={e}
      let:y={r}
      let:i={j}
    >
      {#if Math.round(i%3) !== Math.round(time/5 * (arms/3))}
      <line
        x1={q}
        y1={w}
        x2={e}
        y2={r}
        stroke={rgba(pulse(time*i*j/10) * 255, sin((time+(i*j+1))/17) * 255, cos((time+(i*j+1))/7) * 255)}
      />
      {/if}
    </Spinner>
  </Spinner>
</svg>
