<script>
  import { rgba, pulse, array } from 'src/util'

  let _time = 0
  export {_time as time}
  $: time = _time / 30

  const sin = v => (Math.sin(v) + 1) / 2
  const cos = v => (Math.cos(v) + 1) / 2

  // Find fractions
  // [1/2, 1/3, 1/4, 1/5, 1/6, 1/7, 1/8, 1/9, 1/10, 1/11, 1/12]
  // If nearing a fraction, slow down time.

  const n = 500
  const size = 100

  $: background = rgba(pulse(time/7) * 255, pulse(time/29) * 255, pulse(time/31) * 255)
  $: arr = array(n)
  $: points = arr.map(i => ([
    Math.sin((n - i)*(speed)) * dist * i,
    Math.cos((n - i)*(speed)) * dist * i
  ]))

  $: tries = points.map((v, i, arr) => ([
    v,
    arr[(i+3 % arr.length)],
    arr[(i+7 % arr.length)],
  ]))
    
  $: speed = time / (n*20)
  $: dist = 100 / n
</script>

<svg viewBox="-{size/2} -{size/2} {size} {size}" preserveAspectRatio="xMidYMid">

  {#each tries as tri, i}
    <polygon
      points={tri.join(' ')}
      fill={rgba(sin(time/((i+1)*51)) * 255, cos(time/(79+i)) * 255, sin(time/(31+i)) * 255, 0.1)}
    />
  {/each}

  <polyline
    points={points.join(' ')}
    stroke={rgba(sin(time/29) * 130, cos(time/31) * 130, sin(time/17) * 130)}
    stroke-width=0.01
    fill=none
  />


</svg>
