<script>
  import { rgba, pulse, array } from 'src/util'

  let _time = 0
  export {_time as time}
  $: time = _time / 200

  const sin = v => (Math.sin(v) + 1) / 2
  const cos = v => (Math.cos(v) + 1) / 2

  const amount = 500
  const size = 100

  $: background = rgba(pulse((time/23)) * 255, pulse(time/29) * 255, pulse(time/31) * 255)

  $: points = array(amount)
  $: dist = size / amount

</script>

<svg viewBox="-{size/2} -{size/2} {size} {size}" preserveAspectRatio="xMidYMid" style="background: {background}">

  <polyline
    points={
      points
        .map(i => ([
          Math.sin(i*(time / 5000)) * dist * i,
          Math.cos(i*(time / 5000)) * dist * i
        ]))
        .join(' ')
    }
    stroke=black
    stroke-width=0.05
    fill=none
  />

</svg>
