<!--
  Tree growing thingy

  - Slowly grow tree
  - Randomly decide to branch
  - Every branch grows slower
-->
<script>

  import { onMount } from 'svelte'
  import { timer, dot, rgba } from 'src/util'

  export let time 
  export let size = 100

  let start = 0
  $: growth = Math.round(((time - start) / 100)) / 10

  const mult = (v1, m2) => m1.map()

  function* branches([x, y], growth, ang = 0, split = 2, r = 10) {

    const rand = .5 + .5*Math.random()

    const x2 = x - growth*Math.sin(ang) * rand
    const y2 = y + growth*Math.cos(ang) * rand

    if (r === 0) {
      start = time
      return
    }

    const w = r/2 < growth/2 ? r/2 : growth/2

    yield {
      x1: x,
      y1: y,
      x2, y2,
      'stroke-width': w,
      r,
    }

    const _ang = .7 * rand

    if ((growth > split)) {
      yield* branches(
        [x2, y2],
        (growth-split),
        ang + _ang,
        split,
        r - 1
      )
      yield* branches(
        [x2, y2],
        (growth-split),
        ang - _ang,
        split,
        r - 1
      )
      // for (let branch of branches(
      //         [x2, y2],
      //         growth - split,
      //         ang - 0.2)) {
      //   yield branch
      // }

    }
  }

  onMount(() => {
    start = time
  })
</script>

<svg viewBox="-{size/2} 0 {size} {size}" preserveAspectRatio="xMidYMid">
  <g transform='rotate(180) translate(0, {-size})'>
    {#each Array.from(branches([0, 0], growth)) as { r, ...branch }, i}
      <line {...branch} stroke={rgba(255/r, 255/r, 10 * r)} />
    {/each}
  </g>

</svg>
