<!--
  Tree growing thingy

  - Slowly grow tree
  - Randomly decide to branch
  - Every branch grows slower
-->
<script>
  import Branch from 'src/components/Branch.svelte'
  import { onMount } from 'svelte'
  import { timer, rgba } from 'src/util'

  export let size = 100
  let tree

  const handle = timer(10, () => {
    const res = tree.tick()
  })

  onMount(() => {
    handle.start()

    return handle.stop
  })
</script>

<svg viewBox="-{size/2} 0 {size} {size}" preserveAspectRatio="xMidYMid">
  <g transform='rotate(180) translate(0, {-size})'>

    <Branch
      bind:this={tree}
    />

  </g>

</svg>
