<script>
  import { onMount } from 'svelte'
  import { array, rgba, pulse, sin, abs } from 'src/util'
  import { time, staged, divide } from 'src/util/timer'
  import hsv from 'src/util/hsv'

  export const size = 100
  const PI = Math.PI

  const c1 = size
  const c2 = 2*c1/PI

  const divider = 500

  const speed = divide(time, divider)
  $: c3 = c2 * (4/5)

  const style = {
  }

  let trail = []

  onMount(() => {
    const chunk = 10
    let last = new Date().getTime() / divider
    const int = setInterval(() => {
      const time = new Date().getTime() / divider
      const diff= (time - last) / chunk
      trail = [
        ...trail,
        ...[...new Array(chunk)].map(
          (_, i) => {
            const t = last + i*chunk
            return [
              Math.sin(t) * (c1 - c2) + Math.sin(t * -c1/c2) * (c3),
              Math.cos(t) * (c1 - c2) + Math.cos(t * -c1/c2) * (c3)
            ]
          }
        )
      ].slice(-1000)
      last = time
    }, 10)

    return () => clearInterval(int)
  })
</script>

<svg
  viewBox="-{size} -{size} {size*2} {size*2}" preserveAspectRatio="xMidYMid"
  style='background: {hsv($time/10000 + Math.PI, 0.5, 0.2)}'
  fill=none
  stroke-width=0.1
  stroke=white
>  
  <polyline points={trail} />

</svg>