<script>
  import { onMount } from 'svelte'
  import { array, rgba, pulse, sin, abs } from 'src/util'
  import { time, staged, divide } from 'src/util/timer'
  import hsv from 'src/util/hsv'

  export const size = 100
  const PI = Math.PI

  const c1 = size
  $: c2 = (1.5+sin($time/1000))*c1/PI
  $: c3 = c2 * (4/5) + (PI * sin($time/10100))


  const circle = points => array(points)
    .map(i => ([
      Math.sin(2*PI * i/points) * size,
      Math.cos(2*PI * i/points) * size,
    ]))

  const style = {
  }

  let trail = []
  const chunk = 200
  let lasttime
  $: {
    if (lasttime) {
      const diff = ($time - lasttime) / chunk
      console.log('time', $time, lasttime, diff)
      trail = [
        ...(trail || []),
        ...array(chunk).map(
          i => {
            const t = lasttime + (i*diff * 100)
            return [
              Math.sin(t) * (c1 - c2) + Math.sin(t * -c1/c2) * (c3),
              Math.cos(t) * (c1 - c2) + Math.cos(t * -c1/c2) * (c3)
            ]
          }
        ),
      ].slice(-1000)
    }
    lasttime = $time
  }
</script>

<svg
  viewBox="-{size} -{size} {size*2} {size*2}" preserveAspectRatio="xMidYMid"
  style='background: {hsv($time/10000 + Math.PI, 0.5, 0.2)}'
  fill=none
  stroke-width=0.1
  stroke=white
>  
  <polyline points={trail} />

</svg>