<script>
  import { onMount } from 'svelte'
  import { array, rgba, pulse, sin, abs } from 'src/util'
  import { time, staged, divide } from 'src/util/timer'
  import hsv from 'src/util/hsv'

  export const size = 100
  const PI = Math.PI

  const c1 = size
  $: c2 = (1.5 + sin($time/100000000000))*c1/PI
  $: c3 = c2 * (4/5) + (PI * sin($time/2330000))

  const circle = points => array(points)
    .map(i => ([
      Math.sin(2*PI * i/points) * size,
      Math.cos(2*PI * i/points) * size,
    ]))

  const style = {
  }

  const chunk = 1000
  let lasttime
  $: trail = array(chunk).map(
    i => {
      const t = $time/20000 + (i*chunk)
      return [
        Math.sin(t) * (c1 - c2) + Math.sin(t * -c1/c2) * (c3),
        Math.cos(t) * (c1 - c2) + Math.cos(t * -c1/c2) * (c3)
      ]
    }
  )
</script>

<svg
  viewBox="-{size} -{size} {size*2} {size*2}" preserveAspectRatio="xMidYMid"
  style='background: {hsv($time/10000 + Math.PI, 0.5, 0.2)}'
  fill=none
  stroke-width=0.1
  stroke=white
>  
  <polyline points={trail} />

</svg>