<script>
  import { onMount } from 'svelte'
  import { array, rgba, pulse, sin, abs } from 'src/util'
  import { time, staged, divide } from 'src/util/timer'
  import hsv from 'src/util/hsv'

  export const size = 100
  const PI = Math.PI

  const c1 = size
  $: c2 = (1.5 + sin($time / 10000000))*c1/PI

  const divider = 5000

  const speed = divide(time, divider)
  $: c3 = c2 * (4/5)

  const circle = points => array(points)
    .map(i => ([
      Math.sin(2*PI * i/points) * size,
    Math.cos(2*PI * i/points) * size,
    ]))

  const style = {
  }

  let trail = []

  onMount(() => {
    const chunk = 400
    let last = new Date().getTime() / divider
    const int = setInterval(() => {
      const time = new Date().getTime() / divider
      const diff= (time - last) / chunk
      trail = [
        ...trail,
        ...[...new Array(chunk)].map(
          (_, i) => {
            const t = last + i*chunk
            return [
              Math.sin(t) * (c1 - c2) + Math.sin(t * -c1/c2) * (c3),
              Math.cos(t) * (c1 - c2) + Math.cos(t * -c1/c2) * (c3)
            ]
          }
        )
      ].slice(-500)
      last = time
    }, 100)

    return () => clearInterval(int)
  })
</script>

<svg
  viewBox="-{size} -{size} {size*2} {size*2}" preserveAspectRatio="xMidYMid"
  style='background: {hsv($time/10000 + Math.PI, 0.5, 0.2)}'
  fill=none
  stroke-width=0.1
  stroke=white
>  
  <!-- <text fill=white x={-size} y={-size + 10} font-size=5>{trail.length}   </text>
  <circle
    cx=0
    cy=0
    r={c1}
  />
  <circle
    cx={Math.sin($speed) * (c1 - c2)}
    cy={Math.cos($speed) * (c1 - c2)}
    r={c2}
  />
  <circle
    fill=white
    cx={Math.sin($speed) * (c1 - c2) + Math.sin($speed * -c1/c2) * (c3)}
    cy={Math.cos($speed) * (c1 - c2) + Math.cos($speed * -c1/c2) * (c3)}
    r=1
  /> -->
  <polyline points={trail} />

</svg>