<script>
  import { onMount } from 'svelte'
  import { array, rgba, pulse, sin, abs } from 'src/util'
  import { time, staged, divide } from 'src/util/timer'
  import hsv from 'src/util/hsv'

  export const size = 100
  const PI = Math.PI

  const localtime = divide(time, 10)

  const ratio1 = 2/3
  const ratio2 = 4/5

  const circle = points => array(points)
    .map(i => ([
      Math.sin(2*PI * i/points) * size,
      Math.cos(2*PI * i/points) * size,
    ]))

  const style = {
  }

  let trail = []
  const chunk = 500
  let lasttime
  $: {
    if (lasttime) {
      const diff = ($localtime - lasttime) / chunk

      trail = [
        ...(trail || []),
        ...array(chunk).map(
          i => {
            const t = lasttime + (i*diff)
            const c2 = (1.5*size*(1+sin(t/99900000)))/PI
            const c3 = c2 * (.5+sin(t/100000))

            return [
              Math.sin(t) * (size - c2) + Math.sin(t * -size/c2) * (c3),
              Math.cos(t) * (size - c2) + Math.cos(t * -size/c2) * (c3)
            ]
          }
        ),
      ].slice(-2000)
    }
    lasttime = $localtime
  }
</script>

<svg
  viewBox="-{size} -{size} {size*2} {size*2}" preserveAspectRatio="xMidYMid"
  style='background: {hsv($localtime/10000 + Math.PI, 0.5, 0.2)}'
  fill=none
  stroke-width=0.05
  stroke=white
>  
  <polyline points={trail} />
</svg>