<script>
  import { onMount } from 'svelte'
  import { array, rgba, pulse, sin, abs } from 'src/util'
  import { time, staged, divide } from 'src/util/timer'
  import hsv from 'src/util/hsv'
  import { nest } from 'src/util/nest'

  export const size = 100
  const PI = Math.PI
 
  const nesting = 200
  $: shapes = [...Array(nesting)]
    .reduce((acc, _, index) => ([
      ...acc, nest(acc.slice(-1)[0], {
        origin: [Math.sin(4*PI/6)*size/2, Math.cos(4*PI/6)*size/2],
        rotation: (4*PI/6) + (index+1) * sin($time/10000)/5,
        sections: 4
      })
    ]), [[
      [0, 0],
      [Math.sin(2*PI/6)*size, Math.cos(2*PI/6)*size],
      [Math.sin(4*PI/6)*size, Math.cos(4*PI/6)*size],
      [Math.sin(PI)*size, Math.cos(PI)*size]
    ]])
    
</script>

<svg
  viewBox="-{size} -{size} {2*size} {2*size}" preserveAspectRatio="xMidYMid"
  style='background: {hsv($time/10000 + Math.PI, 0.5, 0.2)}'
  stroke=black
  stroke-width=0.05
>  
  <g id="shapes">
    <g id="shape">
      {#each (shapes || []) as shape, i}
        <polygon points={shape} fill={hsv((i/10) + $time/10000, (nesting-i)/nesting, (nesting-i)/nesting, 0.1)} />
      {/each}
    </g>
    <use href='#shape' transform="rotate(120)" />
    <use href='#shape' transform="rotate(240)" />
  </g>
</svg>