<script>
  import { array, pulse } from 'src/util'
  import { time } from 'src/util/timer'
  import { nest } from 'src/util/nest'

  import hsv from 'src/util/hsv'

  export const size = 100
  const PI = Math.PI

  $: sides = 3 + Math.round(pulse($time/10000) * 10)
  $: lines = array(sides).map(i => ([
    Math.sin(i/sides * PI * 2) * size,
    Math.cos(i/sides * PI * 2) * size
  ]))

  const n = 100
</script>

<svg
  viewBox="-{size} -{size} {size*2} {size*2}" preserveAspectRatio="xMidYMid"
  style='background: {hsv($time/10000 + Math.PI, 0.5, 0.2)}'
>  
  {#each array(n).reduce((acc, i) => (
    [...acc, nest(
      acc[acc.length - 1],
      {
        rotation: (i%2 ? -1 : 1) * $time/((1 + n-i)*100),
        sections: sides,
      })]
  ), [lines]) as shape, i}
    <polygon
      points={shape}
      fill={hsv($time/1000 + (i/n) * 2*PI, (i+(n/2))/n, (n+5-i)/n, 0.5)}
    />
  {/each}
</svg>