<script>
  import { array, pulse, sin, abs } from 'src/util'
  import { time, staged, divide } from 'src/util/timer'
  import hsv from 'src/util/hsv'

  export const size = 100
  const PI = Math.PI

  const shape = ({
    size= 10,
    points = 6,
    origin: [cx, cy] = [0, 0],
    rotation = 0
  }) => array(points)
    .map(i => ([
      Math.sin(2*PI * i/points + rotation) * size + cx,
      Math.cos(2*PI * i/points + rotation) * size + cy,
    ]))

</script>

<svg
  viewBox="-{size} -{size} {2*size} {2*size}" preserveAspectRatio="xMidYMid"
  style='background: {hsv($time/12134 + Math.PI, 0.5, 0.2)}'
>

  {#each array(27)
    .map(i => {
      const ring = Math.pow(3, (i + ($time/1500 % 1))/2)/5
      return {
        ring,
        hex: shape({
          points: 12,
          rotation: Math.sin($time/9120),
          size: 10*ring
        })
      }
    })
  as { ring, hex }, index}
    <polygon
      stroke={hsv($time/1000 + 2*PI/3 * ring/10, 0.5, .7)}
      stroke-width={ring/2}
      fill=none
      points={hex}
    />

    {#each hex as origin}
      {#each array(3) as c}
        <polygon
          stroke=black
          stroke-width={ring/5}
          fill={hsv($time/1000 + 2*PI/3 * ring/10, 0.5, .7, 0.2)}
          points={shape({
            origin,
            rotation: 2*PI * (1/ring),
            size: ring*3 * 3/c
          })}
        />
      {/each}
    {/each}
  {/each}
</svg>
