<script>
  import { array, pulse, sin, abs } from 'src/util'
  import { time, staged, divide } from 'src/util/timer'
  import hsv from 'src/util/hsv'

  export const size = 100
  const PI = Math.PI

  const shape = ({
    size= 10,
    points = 6,
    origin: [cx, cy] = [0, 0],
    rotation = 0
  }) => array(points)
    .map(i => ([
      Math.sin(2*PI * i/points + rotation) * size + cx,
      Math.cos(2*PI * i/points + rotation) * size + cy,
    ]))

</script>

<svg
  viewBox="-{size} -{size} {2*size} {2*size}" preserveAspectRatio="xMidYMid"
  style='background: {hsv($time/12134 + Math.PI, 0.5, 0.2)}'
>

  {#each array(20).map(i => (i + ($time/2000 % 1))) as ring}
    <polygon
      stroke={hsv($time/1000 + 2*PI/3, 0.5, .7)}
      stroke-width={ring/2}
      fill=none
      points={shape({
        points: 6,
        rotation: Math.sin($time/9912),
        size: 10*ring
      })}
    />

    {#each shape({
        points: 6,
        rotation: Math.sin($time/9912),
        size: 10*ring
      }) as origin, index}
      <polygon
        fill={hsv($time/1000 + 2*PI/3*ring/10, 1, 0.6, 0.1)}
        stroke=black
        stroke-width=0.05
        points={shape({
          points: 6,
          origin,
          rotation: $time/3000,
          size: 400*(1/ring/2)
        })}
      />

    {/each}
  {/each}
</svg>
