<script>
  import { pulse } from 'src/util'

  let _time = 0
  export {_time as time}
  $: time = _time / 30

</script>

<svg viewBox="-{size/2} -{size/2} {size} {size}" preserveAspectRatio="xMidYMid">

</svg>
