<script>
  import { readable } from 'svelte/store'
  import { onMount } from 'svelte'

  // import Blob from 'src/components/Blob.svelte'


  let time = 0
  onMount(() => {
    let running = true
    const tick = () => {
      time++

      if (running) {
        requestAnimationFrame(tick)
      }
    }

    tick()

    return () => running = false
  })

  const width = 100
  const height = 100

</script>

<svg viewBox="-{width/2} -{height/2} {width} {height}" preserveAspectRatio="xMidYMid">

  <!-- <Blob {time} /> -->
</svg>

<style>
  svg {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
  }
</style>