<script>
  import Dexter from 'src/components/Dexter.svelte'
  import Palette from 'src/components/Palette.svelte'
  import { timer, array, rgba, pulse, sin } from 'src/util'
  import hsv from 'src/util/hsv'

  export let time
  export const size = 1000

  const arcD = (cx, cy, r) => `
    M ${cx} ${cy}
    m -${r}, 0
    a ${r},${r} 0 1,0 ${r * 2},0
    a ${r},${r} 0 1,0 -${r * 2},0
  `


  let steps = 4
  let circleSize = 350
  $: gradientSteps = array(steps)
    .map(i => {
      const start = i/steps * 2 * Math.PI
      const end = (i+1)/steps * 2 * Math.PI
      const x1 = Math.sin(start)
      const y1 = Math.cos(start)
      const x2 = Math.sin(end)
      const y2 = Math.cos(end)
      return {
        start, end,
        i,
        grad: {
          x1: 1,
          y1: 1,
          x2: 0,
          y2: 0,
        },
        d: `
          M ${[x1*circleSize, y1*circleSize]}
          A ${[circleSize,circleSize]}
            0,0,0,
            ${[x2*circleSize, y2*circleSize]}
        `
      }
    })

  const A = (
    rx, ry, angle,
    largeArcFlag, sweepFlag,
    dx, dy
  ) => `${rx},${ry} ${angle} ${largeArcFlag} ${sweepFlag} ${dx} ${dy}`
</script>

<svg
  viewBox="-{size/2} -{size/2} {size} {size}" preserveAspectRatio="xMidYMid"
  style='background: {hsv(time/10000 + Math.PI, 0.5, 0.5)}'
>
  <!-- <Dexter /> -->
  <Palette x={-size/2} y={-size/2} />

  {#each gradientSteps as { i, start, end, grad, d }}
    <linearGradient id="gradient-{i}" {...grad}>
       <stop offset="0%" stop-color="{hsv(start)}"></stop>
       <stop offset="100%" stop-color="{hsv(end)}"></stop>
    </linearGradient>

    <path
      {d}
      stroke="url(#gradient-{i})"
      stroke-width="70"
    />
    <text
      x={Math.sin(start) * circleSize}
      y={Math.cos(start) * circleSize}
      font-size=30
    >{start.toFixed(3)}: {hsv(start)} </text>
    <text
      x={Math.sin(end) * circleSize}
      y={Math.cos(end) * circleSize + 30}
      font-size=30
    >{end.toFixed(3)}: {hsv(end)} </text>
  {/each}

</svg>
<section>
  <input type=range min=2 max=100 bind:value={steps} />
</section>
<style>
  section {
    position: fixed;
    bottom: 0;
  }
</style>