<script>
  import { onMount } from 'svelte'
  import { timer, array, rgba, pulse } from 'src/util'
  import hsv from 'src/util/hsv'
  
  export const size = 300

  const G = 1

  const force = (m1, m2, r) => G * ((m1 * m2) / (r*r))

  const neg = ([px, py]) => ([-px, -py])
  const mul = (s, [x, y]) => ([s*x, s*y])
  const sum = ([px, py], [vx, vy]) => ([px + vx, py + vy])
  const abs = ([x, y]) => Math.sqrt(x*x + y*y)

  const attraction = (point) => {
    return attractors.reduce(
      (acc, attractor) => {
        const diff = sum(attractor.pos, neg(point.pos))
        const f = force(attractor.size, point.size, abs(diff))
        return sum(acc, mul(f, diff))
      },
      point.vel
    )
  }

  function tick(points) {
    // Update position
    return points.map(point => ({
      ...point,
      pos: sum(point.pos, point.vel),
      vel: attraction(point),
      hist: [...point.hist, point.pos]
    }))
  }

  const attractors = [
    {
      pos: [50, 0],
      size: 10
    }, {
      pos: [-75, 0],
      size: 10
    },
  ]

  let points = [{
    pos: [Math.random(), -25 * Math.random()],
    vel: [0, 0],
    size: .05,
    color: 'black',
    hist: []
  }]

  const handle = timer(160, () => points = tick(points))

  onMount(() => {
    handle.start()
    return () => handle.stop()
  })

</script>

<!-- Chaos, physics modeling -->

<svg viewBox="-{size/2} -{size/2} {size} {size}" preserveAspectRatio="xMidYMid">
  {#each attractors.map(
    ({ pos: [x, y], size }) =>  ({ cx: x, cy: y, r: size })
  ) as attractor}
    <circle {...attractor} />
  {/each}

  {#each points.map(
    ({ pos: [x, y], size, vel, ...p }) => ({
      cx: x,
      cy: y,
      r: 1,
      line: {
        x1: x,
        y1: y,
        x2: x - vel[0] * 10,
        y2: y - vel[1] * 10,
      },
      ...p
    })
  ) as point}
    <circle
      fill={point.color}
      {...point}
    />
    <polyline
      points={point.hist.join(' ')}
      stroke={point.color}
      fill=none
    />
    <!-- <line {...point.line} stroke=red stroke-width=1 /> -->
  {/each}
</svg>

<style>
  circle{
    opacity: 0.1;
  }
</style>