<script>
  import { onMount } from 'svelte'
  import { timer, array, rgba, pulse } from 'src/util'
  import { perlin3, perlin2 } from 'src/util/noise'
  import hsv from 'src/util/hsv'

  export let time
  export const size = 100

  const width = 40
  const height = 40
</script>

<!-- Chaos, physics modeling -->

<svg viewBox="-{size/2} -{size/2} {size} {size}" preserveAspectRatio="xMidYMid">

  {#each
    array(width)
      .map(x => (x - (width / 2)) * size/(width-1))
    as x}
      <!-- .map(x => x + Math.sin((time + x)/1700) * 5) -->
    {#each
      array(height)
        .map(y => (y - (height / 2)) * size/(height-1))
      as y}
        <!-- .map(y => y + Math.cos((time + y + x)/1700) * 5) -->
      <circle
        cx={x}
        cy={y}
        r=1
        fill={hsv((perlin3(x/10, y/10, time/1000)+1)*Math.PI)}
      />
        <!-- fill={hsv(time/1000)} -->
        <!-- r={perlin3(x/10, y/10, time/1000)*5} -->
    {/each}
  {/each}
  
</svg>
