<script>
  import { array, rgba, pulse } from 'src/util'

  export let time
  export const size = 100

  const star = (points, step=2) => array(Math.floor(points))
    .map(p => (p * step) % points)
    .map(p => [
      Math.sin(p * 2 * Math.PI / points) * size/2,
      Math.cos(p * 2 * Math.PI / points) * size/2,
    ])
    .join(' ')
  

</script>

<svg viewBox="-{size/2} -{size/2} {size} {size}" preserveAspectRatio="xMidYMid">
  <polyline
    fill=none
    stroke=red
    stroke-width=.1
    points={star(37, (Math.sin(time/10000)+1)/2 * 37+1)}
  />
  <polygon
    fill=none
    stroke=green
    stroke-width=.1
    points={star(37, (Math.sin(time/10000)+1)/2 * 37+3)}
  />
  <polyline
    fill=none
    stroke=blue
    stroke-width=.1
    points={star(37, (Math.sin(time/10000)+1)/2 * 37+2)}
  />
</svg>