<script>
  import { array } from 'src/util'
  import { time } from 'src/util/timer'
  import hsv from 'src/util/hsv'

  export const size = 100
  const { PI, sin, cos } = Math

  const tick = 500

  const shapes = new Set()
  const toLeft = new Map()
  const toRight = new Map()
  const columns = 10

  let last = Math.floor($time / tick) * tick
  $: if (($time - last) > tick) {
    const iteration = Math.floor($time / tick)
    last = iteration * tick

    for (let column=(iteration % 2); column<columns; column+=2) {
      shapes.add({
        start: last,
        speed: 0.02,
        column: column * (size/columns) - size/2,
        color: hsv(Math.random() * 2 * PI)
      })
    }

    shapes.forEach(shape => {
      const { speed, start } = shape
      if (($time - start) * speed > size*2) {
        shapes.delete(shape)
        toLeft.delete(shape)
      }

      if (toLeft.has(shape) || toRight.has(shape)) {
        return
      }

      if (Math.random() < 0.01) {
        toLeft.set(shape, $time)
      } else if (Math.random() < 0.01) {
        toRight.set(shape, $time)
      }
    })
  }

  const props = (shape, time) => {
    const left = toLeft.get(shape)
    const right = toRight.get(shape)
    let cx = shape.column
    let cy = ($time - shape.start) * shape.speed - size-10
    if (left) {
      cx += ($time - left) * shape.speed
      cy = (left - shape.start) * shape.speed - size-10
    } else if (right) {
      cx -= ($time - right) * shape.speed
      cy = (right - shape.start) * shape.speed - size-10
    }
    return {
      r: 5,
      cy,
      cx,
      fill: shape.color
    }
  }
</script>

<!--
  Spawn shaped
  Shapes fall down
  At random points the shape do stuff
-->

<svg
  viewBox="-{size} -{size} {2*size} {2*size}" preserveAspectRatio="xMidYMid"
  style='background: {hsv($time/10000 + PI, 0.5, 0.2)}'
  stroke='black'
  fill='none'
  stroke-width=1
>
  {#each [...shapes.entries()] as [ index, shape ] (index)}
    <circle {...props(shape, $time)} />
  {/each}

</svg>