<script>
  import { onMount } from 'svelte'
  import { array, rgba, pulse, sin, abs } from 'src/util'
  import { time, staged, divide } from 'src/util/timer'
  import hsv from 'src/util/hsv'

  export const size = 100
  const PI = Math.PI

  let context
  let stream
  let analyser
  let filter
  let frequency = 40400
  $: if (filter) {
    filter.frequency.setValueAtTime(frequency,  context.currentTime)
  }

  // Audio shizzle setup
  $: if (stream) {
    context = new (window.AudioContext || window.webkitAudioContext)();
    const input = context.createMediaStreamSource(stream);

    filter = context.createBiquadFilter();
    filter.type = "lowpass";

    analyser = context.createAnalyser();
    analyser.fftSize = 2048;

    // Connect graph.
    input.connect(filter)
    // input.connect(analyser)
    filter.connect(analyser);
  }

  onMount(() => {
    navigator.mediaDevices.getUserMedia({ audio: true })
    .then(s => { stream = s })
    .catch((err) => { console.error(err) })
  })
  let data = []
  $: if (analyser && $time) {
    const times = new Uint8Array(analyser.frequencyBinCount);
    analyser.getByteFrequencyData(times)
    // analyser.getByteTimeDomainData(times)
    data = times
  }
</script>

<svg
  viewBox="-{size} -{size} {size*2} {size*2}" preserveAspectRatio="xMidYMid"
  style='background: {hsv($time/10000 + Math.PI, 0.5, 0.2)}'
  fill=none
  stroke-width=0.05
  stroke=white
> 
  <!-- {#each data as value, index}
    <rect
      fill=white
      y={-value/256 * size}
      x={index * (size*2/data.length) - size}
      width={size*2/data.length}
      height={value/256 * 2* size}
    />
  {/each} -->
  <polyline
    stroke=white
    points={[...data].map((value, index) => ([
      index * (size*2/data.length) - size,
      (1 - value/256)  * size
    ]))}
  />
</svg>

<section style="position: absolute; top: 0;">
  <input type=range min=10 max=20000 bind:value={frequency} step=any />
  {frequency}
</section>