<script>
  import { onMount } from 'svelte'
  import { array, rgba, pulse, sin, abs } from 'src/util'
  import { time, staged, divide } from 'src/util/timer'
  import hsv from 'src/util/hsv'
  import { nest } from 'src/util/nest'

  export const size = 100
  const PI = Math.PI
 
  const nesting = 1000
  $: shapes = [...Array(nesting)]
    .reduce((acc, _, index) => ([
      ...acc, nest(acc.slice(-1)[0], {
        rotation: $time/10000 * index / $time* (999*3),
        sections: 3
      })
    ]), [
      array(3)
        .map(i => ([
          Math.sin(i/3*2*PI - $time/9010) * 2*size,
          Math.cos(i/3*2*PI - $time/9010) * 2*size,
        ]))
    ])
    
</script>

<svg
  viewBox="-{size} -{size} {2*size} {2*size}" preserveAspectRatio="xMidYMid"
  style='background: {hsv($time/10000 + Math.PI, 0.5, 0.2)}'
  stroke=black
  stroke-width=0.05
>  
  {#each (shapes || []) as shape, i}
    <polygon points={shape} fill={hsv((i/10) + $time/10000, (nesting-i)/nesting, (nesting-i)/nesting, 0.1)} />
  {/each}
</svg>