<script>
  import { onMount } from 'svelte'
  import { array, rgba, pulse, sin, abs } from 'src/util'
  import { time, staged, divide } from 'src/util/timer'
  import hsv from 'src/util/hsv'

  export const size = 100
  const PI = Math.PI

  let trail = []
  const chunk = 1000

  let lasttime
  $: {
    if (lasttime) {
      const diff = ($time - lasttime) / chunk
      const c2 = size/(7)
      const c3 = size/(2 + Math.sin($time/1000))
      // C2 and 3 are changing, 

      trail = trail.concat(
        array(chunk).map(
        i => {
          const t = lasttime + (i*diff)

          return [
            Math.sin(t) * (size - c2) + Math.sin(t * -size/c2) * (c3),
            Math.cos(t) * (size - c2) + Math.cos(t * -size/c2) * (c3)
          ]
        }
      )).slice(-1000)
    }
    lasttime = $time
  }
</script>

<svg
  viewBox="-{size} -{size} {size*2} {size*2}" preserveAspectRatio="xMidYMid"
  style='background: {hsv($time/10000 + Math.PI, 0.5, 0.2)}'
  fill=none
  stroke-width=0.05
  stroke=white
>  
  <polyline points={trail} />
</svg>