<script>
  import { array, pulse, sin, abs } from 'src/util'
  import { time, staged, divide } from 'src/util/timer'
  import hsv from 'src/util/hsv'

  export const size = 100
  const PI = Math.PI

  const [
    point1,
    point2,
    point3
  ] = staged(divide(time, 1000), 1, 2, 2)

  /*
   * Start with a point. moving around
   * Point grows and starts rotating
   * Point becomes transparent and separates into colors
   * Lines appear and makes a triangle
   * Triangle nests deeper and deeper
   */
    
</script>

<svg
  viewBox="-{size} -{size} {2*size} {2*size}" preserveAspectRatio="xMidYMid"
  style='background: {hsv($time/10000 + Math.PI, 0.5, 0.2)}'
  stroke=black
  stroke-width=0.05
>

  <circle
    cx={Math.sin($time/1000) * size/4 * $point2}
    cy={Math.cos($time/1000 + $point3) * size/4 * $point2}
    r={$point1 * (1 + sin($time/300))}
    fill=white
  />
</svg>

<section style='position: fixed; top: 0; color: white'>
  <pre>{JSON.stringify({
    $point1,
    $point2,
    $point3,
  }, null, 2)}</pre>
</section>