<script>
  import FPS from 'src/components/FPS.svelte'
  import { array, sin } from 'src/util'
  import { time } from 'src/util/timer'
  import hsv from 'src/util/hsv'

  export const size = 100
  const PI = Math.PI

  const shape = ({
    size= 10,
    points = 6,
    origin: [cx, cy] = [0, 0],
    rotation = 0
  }) => array(points)
    .map(i => ([
      Math.sin(2*PI * i/points + rotation) * size + cx,
      Math.cos(2*PI * i/points + rotation) * size + cy,
    ]))

  const line = [
    [0, 0],
    [5, 10],
    [0, 20],
  ]

  // [cos T, -sin T]
  // [sin T, cos T]

  function rotate(path, angle=0) {
    return path.map(([x, y]) => ([
      x*Math.cos(angle) - y*Math.sin(angle),
      x*Math.sin(angle) + y*Math.cos(angle),
    ]))
  }
  function translate(path, [vx, vy]) {
    return path.map(([x, y]) => ([x+vx, y+vy]))
  }

  function tail(path) {
    const [l] = path.slice(-1)
    return l
  }

  function chain(...paths) {
    return paths.reduce(
      (acc, path) => acc ? (
        [...acc, translate(path, tail(acc))]
      ) : path
    )
  }
</script>

<svg
  viewBox="-{size} -{size} {2*size} {2*size}" preserveAspectRatio="xMidYMid"
  style='background: {hsv($time/10000 + Math.PI, 0.5, 0.2)}'
  fill=none
  stroke=white
>

  <polyline points={chain(
    line,
    rotate(line, PI/2),
    line
  )} />

</svg>

<FPS />