<script>
  import Transport from 'src/components/transport/Transport.svelte'
  import { array } from 'src/util'
  import { nest } from 'src/util/nest'
  import { time } from 'src/util/timer'
  import hsv from 'src/util/hsv'

  export const size = 100
  const { PI, sin, cos } = Math
  let nesting = 100
</script>

<svg
  viewBox="-{size} -{size} {2*size} {2*size}" preserveAspectRatio="xMidYMid"
  style='background: {hsv($time/10000 + PI, 0.5, 0.2)}'
  stroke=black
  fill=none
  stroke-width=1
>  
  <Transport
    loop={2000}
  >
    {#each [...Array(nesting)]
      .reduce((acc, _, index) => ([
        ...acc, nest(acc.slice(-1)[0], {
          rotation: (index+1) * $time/10000,
          sections: 3
        })
      ]), [
        array(3)
          .map(i => ([
            sin(i/3*2*PI) * size,
            cos(i/3*2*PI) * size,
          ]))
      ])
      as shape, index
    }
      <polygon points={shape} stroke-width={(nesting-index)/(2*nesting)} />
    {/each}
  </Transport>
</svg>