<script>
  import { array, pulse, sin, abs } from 'src/util'
  import { time, staged, divide } from 'src/util/timer'
  import hsv from 'src/util/hsv'

  export const size = 100
  const PI = Math.PI

  const shape = ({
    size= 10,
    points = 6,
    origin: [cx, cy] = [0, 0],
    rotation = 0
  }) => array(points)
    .map(i => ([
      Math.sin(2*PI * i/points + rotation) * size + cx,
      Math.cos(2*PI * i/points + rotation) * size + cy,
    ]))

  let fps = 0
  let last = 0
  $: {
    if (last) {
      fps = 1/($time - last) * 1000
    }
    last = $time
  }
</script>

<svg
  viewBox="-{size} -{size} {2*size} {2*size}" preserveAspectRatio="xMidYMid"
  style='background: {hsv($time/10000 + Math.PI, 0.5, 0.2)}'
>

  {#each array(10)
    .map(i => {
      const ring = Math.pow(3, (i + ($time/1500 % 1))/2)/5
      return {
        ring,
        hex: shape({
          points: 12,
          rotation: Math.sin($time/9120),
          size: 10*ring
        })
      }
    })
  as { ring, hex }, index}
    {#each hex as origin, x (x)}
      {#each array(12).reverse() as c, y (y)}
        <polygon
          stroke=black
          stroke-width={ring/5}
          fill={hsv((2*PI * x/12) + $time/10000 + (2*PI/3 * ring/10), 0.5, .7, .5)}
          points={shape({
            origin,
            rotation: 2*PI * (1/ring) * c / 10,
            size: ring*4 * (c+1)/12
          })}
        />
      {/each}
    {/each}
  {/each}
</svg>

<section style="position: fixed; top: 0; background: black; color: white">
  {fps.toFixed(3)}
</section>