<svg:options namespace="svg" />

<script>
  import { svg } from 'src/util'

  export let size = 50
  export let inner = 20
  export let start = 0
  export let length = Math.PI

  $: d = svg.d(
    svg.M([
      Math.sin(start) * inner,
      Math.cos(start) * inner,
    ]),
    svg.L([
      Math.sin(start) * size,
      Math.cos(start) * size,
    ]),
    svg.A([
      size, size,
      0, 0, 0,
      Math.sin(start+ length/2) * size,
      Math.cos(start+ length/2) * size,
    ]),
    svg.A([
      size, size,
      0, 0, 0,
      Math.sin(start+ length) * size,
      Math.cos(start+ length) * size,
    ]),
    svg.L([
      Math.sin(start+ length) * inner,
      Math.cos(start+ length) * inner,
    ]),
    svg.A([
      inner, inner,
      0, 0, 1,
      Math.sin(start + length/2) * inner,
      Math.cos(start + length/2) * inner,
    ]),
    svg.A([
      inner, inner,
      0, 0, 1,
      Math.sin(start) * inner,
      Math.cos(start) * inner,
    ]),
    svg.Z()
  )
</script>

<path {...$$props} {d} />
