<svelte:options namespace=svg />

<script>
  import Circle from './Circle.svelte'

  import { pulse, array, svg } from 'src/util'
  import tumult from 'tumult'

  const perlin3 = new tumult.Perlin3('seed')
  const perlin1 = new tumult.Perlin1('seed')

  export let time

  const radius = 20
  const points = 40

  $: weirdness = 5+pulse(time / 100) * 10

  const circle = (cx, cy, radius) => {
    if (!points) return

    const p = array(points)
      .map(i => {
        const x = Math.cos((i / points) * 2 * Math.PI)
        const y = Math.sin((i / points) * 2 * Math.PI)
        const n = perlin3.gen(
          Math.abs((cx + x) / weirdness),
          Math.abs((cy + y) / weirdness),
          Math.abs(time/500)
        )
        return [cx + (x * radius * n), cy + (y * radius * n)]
      })

    return svg.d(
      svg.M(p[0]),
      svg.L(...p),
      svg.Z()
    )
  }
</script>

<text font-size=1 x=-40 y=-40>{time}</text>
<Circle let:i let:x let:y points={100} radius={(pulse(time/100) + 1)*radius}>
  <path
    stroke=orange
    d={circle(
      x*(.5 - pulse(time*i/50)) * 5,
      y*(.5 - pulse(time*i/50)) * 5,
      pulse(((i+1 / 10) * time) / 100) * radius * (2 + perlin1.gen(time / (10 * (i+1))))
    )}
    stroke-width={pulse(time * i * (1 + perlin1.gen(time / (10 * (i+1))))) }
  />
</Circle>

<style>
  path {
    fill: none;
  }
</style>