<svelte:options namespace=svg />
<script>
  export let limit = 10
  export let angle = 0

  let size = 0
  let children = []
  let branches = []
  let branchAngle = Math.random() * 40

  export const tick = () => {
    if (size === 5 && !children.length) {
      children = [...new Array(2)]
    }

    if (Math.random() < 0.5) {
      branchAngle += .1
    } else {
      branchAngle -= .1
    }

    if (branches.length){
      branches.forEach(b => b.tick())
    }

    if (size < 20) {
      size ++
    }
  }

</script>

<g transform="rotate({angle})">
  <line
    x1=0 y1=0
    x2=0 y2={size/2}
    stroke-width={limit * (size / 40)}
    stroke={
      (limit > 2)
      ? 'rgba(52,27,32,0.7)'
      : ((limit > 1) ? '#298F1988' : 'pink')
    }
  />

  {#if limit}
    <g transform="translate(0, {size/2})">
      {#each children as branch, i}
        <svelte:self
          limit={limit - 1}
          angle={i%2 ? -branchAngle : branchAngle}
          bind:this={branches[i]}
        />
      {/each}
    </g>
  {/if}
</g>

