<script>
  import { array } from 'src/util'

  export let radius = 20
  export let points = 20
</script>

{#each array(points).map(i => ({
  x: Math.sin((i / points) * 2 * Math.PI) * radius,
  y: Math.cos((i / points) * 2 * Math.PI) * radius
})) as { x, y }, i (i)}
  <slot {i} {x} {y} />
{/each}