<svelte:options namespace="svg" />

<path
  class="circle"
  stroke-width="8.9884"
  stroke="#000"
  fill="#81ba8c"
  d="M477.529 250.11a227.64 227.64 0 1 1-455.28 0 227.64 227.64 0 1 1 455.28 0z" />

<g
  class="head"
  stroke="black"
  stroke-linejoin="round"
  fill="#fee3da"
  stroke-width="8.0078">
  <path
    class="face"
    d="M351.03 184.789l-144.968 9.897-80.344 46.577 15.72 129.248L195
    375.17l1.024 94.54c-.404.147 31.6 31.74 84.854 15.818
    4.912-1.468-9.027-43.405-9.027-43.405 56.637 20.233 97.6-96.115
    89.077-141.475 1.251-47.349 3.035-70.185-9.898-115.858z" />
  <path
    class="hair"
    stroke-width="8.0078"
    fill="#e37000"
    d="M190.95 379.035c-9.893 11.41-18.158 18.153-36.26 22.848-24.58
    6.375-53.445-1.074-56.585-13.382-6.673-26.163 22.62-34.964 28.616-27.273
    5.996 7.69-30.926 27.494-52.141-8.108-21.215-35.601 25.426-65.384
    25.367-46.482-.06 18.9-47.138 6.288-35.348-48.746 11.79-55.034 76.06-58.574
    64.379-38.993-11.681 19.58-74.905-24.516-8.52-78.85 66.387-54.336 128.75
    9.84 110.384 19.526-18.365 9.687-33.79-42.673 33.223-56.717 67.012-14.044
    95.667 55.736 76.129 53.726-19.539-2.01-8.307-42.56 39.896-29.476 15.01
    4.074 39.305 21.408 41.804 55.766 3.023 41.573-51.386 44.12-85.011
    28.586-17.422-8.048-36.8-12.313-31.298-18.28 5.5-5.967 41.4-7.203 27.417
    23.228-12.364 26.909-88.375 17.6-96.35-18.57 16.455 40.337-35.25
    62.404-78.464 33.166 8.977 3.53 17.932 46.094-1.617 75.23-3.85 5.736-12.823
    20.748-9.303 26.693 3.718 6.28 20.168 3.86 26.29 2.831 3.105 8.763 27.514
    31.601 17.391 43.277z" />
  <path
    class="beard"
    stroke-width="4.0039"
    fill="#e37000"
    d="M165.469 286.01c-6.144 11.952-8.09 20.223-8.09 20.223 13.014-2.235
    19.028.572 19.01 14.156-.012 9.206-3.509 11.116-1.816 13.756 32.513 50.723
    28.452 60.387 51.33 79.968 0 0 40.614 32.765 63.453 29.401 15.541-2.288
    30.168-15.533 39.56-28.125 14.521-19.469 33.219-71.652
    29.759-72.708-5.71-1.742-13.046 26.492-29.402
    24.625-17.75-2.027-4.742-13.737-20.627-16.178-24.256-3.728-39.709-10.745-55.006-10.112-14.484.6-27.302
    35.763-47.321 4.045-26.91-42.637-34.65-71.113-40.85-59.05z" />
</g>
<g stroke="black" stroke-linecap="round">
  <path
    class="glasses"
    stroke-width="4.0039"
    d="M215.819 275.105l160.705 3.178-8.626
    41.166c-18.36-.374-36.337-.366-56.166-2.21l-7.917-34.934-17.2-.545-15.891
    35.59c-15.555 3.147-34.6-3.01-51.885-4.186l-4.949-20.267-61.732 20.457z" />
  <path
    class="eyes"
    stroke-width=".80078"
    stroke="#00baec"
    fill="#00baec"
    d="M221.166 281.759l14.105.488c.332 26.776 30.186 24.138
    30.938-.899l12.607.617-11.23 29.047-42.372-3.262zM368.104
    284.266l-12.068-.385c-.331 26.776-30.186 24.138-30.938-.899l-13.48-.257
    7.446 28.756 44.409 1.105z" />
  <g class="mouth" stroke="#000" stroke-width=".80078">
    <path
      stroke-width="4.0039"
      d="M308.999 352.66l6.626 19.245-7.988-1.18-4.993 19.425 7.807.999-17.247
      12.98
      15.237-11.548c-3.643-.364-7.009-.863-10.143-1.307-50.488-7.156-36.511-32.78-42.493-40.974
      13.692 10.514 26.71 19.165 57.78 19.487z" />
    <path
      fill="white"
      d="M260.195 356.052c-1.002 6.341.057 15.074 7.183 20.709l6.582-11.846z" />
    <path
      fill="white"
      d="M278.317 366.004l-7.353 15.069c3.529 1.9 2.041 2.845 12.345
      6.036l5.447-17.655zM293.159 370.225l-5.765 18.2s11.71 2.27 11.71
      1.725c0-.544 5.628-18.745 5.628-18.745" />
  </g>
  <g stroke-width="5" stroke="black">
    <path
      d="M226.848 270.328c12.116-7.456 24.858-15.291 42.028-18.065 7.765-1.254
      9.976 4.18 10.893 9.078-49.077 12.333-35.341 5.84-52.921 8.987zM348.577
      272.325c-.78-7.544-9.764-16.481-28.231-19.245-7.78-1.164-9.976
      1.639-10.893 6.536z" />
    <path
      fill="none"
      d="M301.127 277.882c1.824 38.476-5.305 24.84 37.871 57.64l-30.263 15.224" />
  </g>
</g>
