<script>
  import { time } from 'src/util/timer'

  let fps = 0
  let last = 0
  $: {
    if (last) {
      fps = Math.round(1/($time - last) * 1000)
    }
    last = $time || 0
  }
</script>


<section>
  {fps}
</section>

<style>
 section {
   position: fixed;
    top: 0;
    left: 0;
    padding: .2em;
    background: black;
    color: white;
 }
</style>