<svelte:options namespace=svg />

<script>
  let moving = false
  let point
  export let transform = ({ x, y }) => ({ x, y })
  export let position = transform([0,0])

  $: svg = point && point.viewportElement
  $: referencePoint = svg && svg.createSVGPoint()
  $: conversionMatrix = svg && svg.getScreenCTM().inverse()

  $: if (referencePoint && conversionMatrix && moving) {
    const { x, y } = referencePoint.matrixTransform(conversionMatrix)
    position = transform([x, y])
  }
</script>

<svelte:window
  on:resize={() => point = point}
  on:mouseup={() => moving = false}
  on:mousemove={e => {
    if (moving) {
      referencePoint.x = e.clientX
      referencePoint.y = e.clientY
    }
  }}
/>

<circle
  bind:this={point}
  cx={position[0]}
  cy={position[1]}
  r=1
  fill=black
  on:mousedown={() => moving = true}
/>

<style>
  circle {
    cursor: move;
  }
</style>