<svelte:options namespace=svg />

<script>
  import { array, svg } from 'src/util'

  export let color = 'red'
  export let angle = 15
  export let height = 20
  export let width = 10
  export let transform

  export let leafs = 3

  $: leafsteps = array(leafs).map(i => (-(leafs/2) + i*2))
  $: shape = svg.d(
    svg.M([0,0]),
    svg.L([width/4,-height/4]),
    svg.C([width,-height,-width,-height,-width/4,-height/4]),
    svg.Z()
  )
</script>

<g {transform}>
  {#each leafsteps as leaf}
    <path
      fill={color}
      d={shape}
      transform="rotate({leaf * angle})"
    />
  {/each}
</g>