<script>
  import Mirror from './Mirror.svelte'

  export let mirrors = []
</script>

{#if mirrors.length}
  <svelte:self
    mirrors={mirrors.slice(1)}
  >
    <Mirror {...mirrors[0]}>
      <slot />
    </Mirror>
  </svelte:self>
{:else}
  <slot />
{/if}