<script>
  import Mirrors from 'src/components/Mirrors.svelte'
  import { timer, array, rgba, pulse, sin } from 'src/util'

  export let origin = [0, 0]
  export let amount = 2
  export let showGuide = false
</script>

<Mirrors mirrors={
  array(amount)
    .map(i => ({
      origin,
      angle: i * Math.PI / amount,
      showGuide
    }))
} >
  <slot />
</Mirrors>
