<script context='module'>
  let idNr = 0
</script>

<script>
  const id = `mirror-${idNr++}`

  export let origin = [0, 0]
  export let angle = 0
  export let showGuide = false

  $: guide = showGuide && {
    x1: (Math.sin(angle) * 1000) + origin[0],
    y1: (Math.cos(angle) * 1000) + origin[1],
    x2: (Math.sin(angle) * -1000) + origin[0],
    y2: (Math.cos(angle) * -1000) + origin[1],
    stroke: 'black',
    'stroke-width': 0.09
  }
  $: degrees = angle/Math.PI * 180
</script>

<g {id}>
  <slot />
</g>
<use
  href="#{id}"
  transform='
    translate({origin})
    rotate({-degrees})
    scale(-1, 1)
    rotate({degrees})
    translate({origin.map(i => -i)})
  '
/>
{#if guide}
  <line {...guide}/>
{/if}