<svelte:options namespace='svg' />

<script>
  export let x=0
  export let y=0
  export let size = 40

  const colors = [
    [
      { color: "black", name: 'Black'},
      { color: "white", name: 'White'},
      { color: "#e37000", name: 'Orange'},
      { color: "#101d29", name: 'Dark-blue'},
    ], [
      { color: "#7c00fb", name: 'Purple-1'},
      { color: "#6a04d8", name: 'Purple-2'},
      { color: "#5809b5", name: 'Purple-3'},
      { color: "#460e92", name: 'Purple-4'},
      { color: "#34136f", name: 'Purple-5'},
      { color: "#22184c", name: 'Purple-6'},
    ], [
      { color: "#00fb7c", name: 'Green-1'},
      { color: "#02d66e", name: 'Green-2'},
      { color: "#05b160", name: 'Green-3'},
      { color: "#088c52", name: 'Green-4'},
      { color: "#0a6744", name: 'Green-5'},
      { color: "#0d4236", name: 'Green-6'},
    ], [
      { color: "#fb7c00", name: 'Orange-1'},
      { color: "#d36c06", name: 'Orange-2'},
      { color: "#ac5c0d", name: 'Orange-3'},
      { color: "#854c14", name: 'Orange-4'},  
      { color: "#5e3c1b", name: 'Orange-5'},
      { color: "#372c22", name: 'Orange-6'},
    ]
  ]
</script>

<g transform="translate({x}, {y})">
  {#each colors as row, i}
    {#each row as { color, name }, j}
      <rect
        x={j*size}
        y={i*size}
        width={size}
        height={size}
        fill={color}
      />
      <text id={name} opacity=0>{color}</text>
    {/each}
  {/each}
</g>