<script>
  import { onMount } from 'svelte'
  export let visual

  let time, _time
  export { _time as time}
  let running = false

  $: if (running) {
    time = _time
  }

  onMount(() => {
    time = _time
    return () => running = false
  })
</script>

<section
  on:mouseenter={() => {running = true}}
  on:mouseleave={() => {running = false}}
  on:touchstart={() => {running = true}}
  on:touchend={() => {running = false}}
>
  <svelte:component this={visual} {time} />
</section>


<style>
  section > :global(svg) {
    display: block;
  }
</style>