<script>
  export let time = 0 

  export let dots = 20
  export let dist = .5

  const arr = (n) => (new Array(n)).fill().map((_, i) => i)
  const pos = (t, i) => {
    const theta = (t / 100) * i
    const len = i * dist
    return {
      theta,
      cx: Math.sin(theta) * len,
      cy: Math.cos(theta) * len
    }
  }
  const linepos = (t, i) => {
    if (i===0) return
    const p1 = pos(t, i-1)
    const p2 = pos(t, i)
    return {
      x1: p1.cx,
      y1: p1.cy,
      x2: p2.cx,
      y2: p2.cy,
    }
  }
</script>

{#each arr(dots) as i (i)}
  <slot {i} pos={pos(time, i)} line={linepos(time, i)}/>
{/each}