<svelte:options namespace=svg />

<script>
  export let x1, y1, x2, y2


  $: len = Math.sqrt(Math.pow(x2 - x1, 2) + Math.pow(y2 - y1, 2))
  // $: ang = 
</script>

<polygon points={[
    [x1, y1],
    [x2, y2],
    [x2,y2+(len/5)],
    [x2+(len/5),y2+(len/5)],
  ].map(p => p.join(',')).join(' ')} />

<style>

  polygon {
    fill: none;
    stroke: black;
    stroke-width: 0.1;
  }
</style>