<script>
  import { onMount } from 'svelte'
  import Shape from './Shape.svelte'

  let time = 0

  const loop = () => {
    let running = true
    const tick = () => {
      time += 1
      if (running) {
        requestAnimationFrame(tick)
      }
    }
    tick()
    return () => running = false
  }

  onMount(() => {
    return loop()
  })

  const width = 100
  const height = 100
</script>

<svg viewBox="-{width/2} -{height/2} {width} {height}" preserveAspectRatio="xMidYMid">

  <Shape
    x={[Math.sin(time/100) * 20, Math.cos(time/100) * 20]}
    y={[height/10, 0]}
  />

</svg>

<style>
  svg {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
  }
</style>