<svelte:options namespace='svg' />

<script>
  export let size = 10
  export let origin = [0, 0]
  export let rotation = 0

  const PI = Math.PI
  $: points = [[
    Math.sin(2*PI * 1/3 + rotation) * size + origin[0],
    Math.cos(2*PI * 1/3 + rotation) * size + origin[1],
  ], [
    Math.sin(2*PI * 2/3 + rotation) * size + origin[0],
    Math.cos(2*PI * 2/3 + rotation) * size + origin[1],
  ], [
    Math.sin(2*PI + rotation) * size + origin[0],
    Math.cos(2*PI + rotation) * size + origin[1],
  ]]
</script>

<polygon {points} {...$$props} />

{#each points as point, index}
  <slot {point} {index} />
{/each}