<script context=module>
  import visuals from 'visuals/all'

  export function preload(page) {
    const { params: { visual }} = page
    return {
      visual: visuals[visual]
    }
  }
</script>

<script>
  import { onMount } from 'svelte'
  export let visual

  import { timer } from 'src/util'

  let time = new Date().getTime()
  let handle = timer(40, t => time = t)

  onMount(() => {
    handle.start()
    return handle.stop
  })
</script>

<content>
  <svelte:component this={visual} {time} />
</content>

<style>
  content :global(svg) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
</style>