<script>
  import Current from 'src/play/tilings.svelte'
  import { onMount } from 'svelte'
  import { timer } from 'src/util'

  let time = new Date().getTime()
  let running = false
  let handle = timer(60, t => time = t)

  $: if (running) {
    handle.start()
  } else {
    handle.stop()
  }

  onMount(() => {
    running = true
    return () => running = false
  })
</script>


<svelte:window
  on:keypress={() => running = !running}
  on:click={() => time += 100 }
/>

<Current time={time} />

<style>
  :global(body) {
    background: gray;
  }

  :global(svg) {
    position: fixed;
    left: 0; right: 0;
    bottom: 0; top: 0;
    width: 100%;
    height: 100%;
  }
</style>