<svelte:options namespace=svg />

<script>
  export let loop

  let transport
  $: viewport = transport && transport.nearestViewportElement

  $: if (viewport) {
    console.log(viewport)
  }
  $: referencePoint = svg && svg.createSVGPoint()
  $: conversionMatrix = svg && svg.getScreenCTM().inverse()

  $: if (referencePoint && conversionMatrix && moving) {
    const { x, y } = referencePoint.matrixTransform(conversionMatrix)
    position = transform([x, y])
  }
</script>

<!-- Transport Component -->
<!-- Passes stores to nested slot -->

<g class="transport" bind:this={transport}>
  <!-- Expandable tracks with keypoints -->
  <rect class="track"
    fill=black
    width=10
    height=10
  />
</g>

<slot />